<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Current_Items</key>
	<dict>
		<key>Pedal_Selected</key>
		<integer>0</integer>
		<key>Press_Selected</key>
		<string>Simple_Press</string>
	</dict>
	<key>Connection</key>
	<dict>
		<key>IP_Server</key>
		<string>127.0.0.1</string>
		<key>Port_Server</key>
		<integer>5000</integer>
		<key>IP_Client</key>
		<string>127.0.0.1</string>
		<key>Port_Client</key>
		<string>9000</string>
	</dict>
	<key>Pedals</key>
	<dict>
		<key>Pedal_0</key>
		<dict>
			<key>Go_To_Value</key>
			<integer>0</integer>
			<key>Actions</key>
			<dict>
				<key>Simple_Press</key>
				<integer>-1</integer>
				<key>Double_Press</key>
				<integer>-1</integer>
				<key>Long_Press</key>
				<integer>-1</integer>
			</dict>
		</dict>
		<key>Pedal_1</key>
		<dict>
			<key>Go_To_Value</key>
			<integer>0</integer>
			<key>Actions</key>
			<dict>
				<key>Simple_Press</key>
				<integer>-1</integer>
				<key>Double_Press</key>
				<integer>-1</integer>
				<key>Long_Press</key>
				<integer>-1</integer>
			</dict>
		</dict>
		<key>Pedal_2</key>
		<dict>
			<key>Go_To_Value</key>
			<integer>0</integer>
			<key>Actions</key>
			<dict>
				<key>Simple_Press</key>
				<integer>-1</integer>
				<key>Double_Press</key>
				<integer>-1</integer>
				<key>Long_Press</key>
				<integer>-1</integer>
			</dict>
		</dict>
		<key>Pedal_3</key>
		<dict>
			<key>Go_To_Value</key>
			<integer>0</integer>
			<key>Actions</key>
			<dict>
				<key>Simple_Press</key>
				<integer>-1</integer>
				<key>Double_Press</key>
				<integer>-1</integer>
				<key>Long_Press</key>
				<integer>-1</integer>
			</dict>
		</dict>
		<key>Pedal_4</key>
		<dict>
			<key>Go_To_Value</key>
			<integer>0</integer>
			<key>Actions</key>
			<dict>
				<key>Simple_Press</key>
				<integer>-1</integer>
				<key>Double_Press</key>
				<integer>-1</integer>
				<key>Long_Press</key>
				<integer>-1</integer>
			</dict>
		</dict>
	</dict>
	<key>Settings</key>
	<dict>
		<key>Save_When_Quit</key>
		<true/>
		<key>Send_At_Launch</key>
		<false/>
		<key>Use_Color</key>
		<true/>
	</dict>
</dict>
</plist>
